:root {
    --color-light: #F8F8F8;
    --color-primary: #4F5D75;
    --color-primary-dark: #2D3142;
    --color-accent: #ffd8be;
    --color-accent-dark: #EF8354;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero-section {
    height: 100vh;
    padding: 2em 5em;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    gap: 5vw;
}

header h1 {
    margin-bottom: 0.25em;
    font-size: 3.5rem;
    color: var(--color-primary-dark);
}

.hero__text p {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.hero__image {
    width: 40%;
    height: 40%;
}

.hero__btn {
    margin: 1.5rem 0;
    padding: 15px 30px;
    font-size: 1rem;
    color: var(--color-primary-dark);
    background-color: var(--color-accent-dark);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.main_card{
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

.img_card{
    width: 100%;
    height: 200px;
    object-fit: cover;
}