:root {
    --color-light: #F8F8F8;
    --color-primary: #4F5D75;
    --color-primary-dark: #2D3142;
    --color-accent: #ffd8be;
    --color-accent-dark: #EF8354;
}

html{
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mitr", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: var(--color-primary-dark);
    background-color: var(--color-accent-dark);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

li {
    list-style-type: none;
}

/* Navigation section */

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 4em;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 0.75vw;
}

.logo__img {
    width: auto;
    height: 7.5vh;
}

/* Hero section */

.hero-section {
    padding: 2em 4em 0;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    gap: 5vw;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1 {
    font-size: 3.5rem;
    color: var(--color-primary-dark);
}

.hero__text p {
    min-width: 500px;
    margin-bottom: 0.75em;
    font-size: 1.5rem;
    color: var(--color-primary);
}

.hero__image {
    width: 50%;
    height: 50%;
}

.hero__btn {
    display: inline;
    padding: 0.75em 1.5em;
    font-size: 1.375rem;
}

/* Card slider section */

.slider-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn.left {
    left: -20px;
}

.arrow-btn.right {
    right: -20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
}

.left {
    transform: rotate(67deg);
    -webkit-transform: rotate(67deg);
}

.slider {
    width: 100%;
    height: 100%;
}

.card_main{
    width: 320px;
    margin: 20px 0;
    background: var(--color-primary-dark);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.card_main:hover,
.card_main.selected {
    background: var(--color-accent-dark);
}

.card_main:hover .card_btn,
.card_main.selected .card_btn {
    background: var(--color-primary-dark);
    color: var(--color-light);
}

.card_img{
    width: 100%;
    height: 200px;
    margin-bottom: 0.75em;
    object-fit: cover;
}

.card_info {
    padding: 0.75em;
}

.card_text {
    padding: 0 0.5em;
    color: var(--color-light);
}

.card_title {
    margin-bottom: 0.125em;
    font-size: 1.625rem;
    font-weight: 600;
}

.card_desc {
    margin-bottom: 0.5em;
    font-size: 1.125rem;
}

.card_btn {
    display: block;
    margin: 0 auto;
    padding: 0.375em 1em;
    font-size: 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Main section */

/* .fortune-nav {
    padding: 1em 0;
}

.fortune-list {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
} */

.fortune-main {
    background-color: var(--color-accent);
    min-height: 500px;
}

.fortune-header,
.fortune-content {
    padding: 1.25em 2em;
}

.fortune-header {
    text-align: center;
    font-size: 1.25rem;
    color: var(--color-light);
    background-color: var(--color-accent-dark);
}

.fortune-header * {
    font-weight: 600;
}

.fortune-content{
    min-height: 450px;
}

.item-container h3,
.map-container h3 {
    font-size: 1.375em;
    font-weight: 600;
}

.color-label,
.item-container *,
.map-container * {
    font-size: 1.125rem;
}

.item-container,
.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

/* Daily horoscope */

.horoscope {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

/* Shirt color */

.shirt-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shirt-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1em;
}

.shirt-category {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 5em;
}

.color-container {
    display: flex;
    gap: 0.5em;
}

.color-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

/* Lucky item */

.item-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

.item-img-container p {
    font-size: larger;
}

.item-img {
    max-height: 350px;
}

/* Sacred map */

.map-container * {
    list-style-type: disc;
}